{% extends 'base.html' %}
{% block title %} 
Сменить пароль пользователя

{% endblock %}

{% block content %}


  <form method="post" action="{{ url_for('change') }}" id="changeform">
  {% if change %}
  <label for="updatepass">ВВедите новый пароль:</label>
        <br>
        <input type="text" name="updatepass" id="updatepass"
               placeholder=" "
               value="{{ request.form['updatepass'] }}"/>
        <br>

        <button type="submit" name="button_submit"  value="updatepass">Обновить пароль</button>

    {% else %}
        <label for="username">Введите имя пользователя, которому хотите поменять пароль:</label>
        <br>
        <input type="text" name="username" id="username"
               placeholder=" "
               value="{{ request.form['username'] }}"/>
        <br>

        <button type="submit" name="button_submit" value="userinput">Ввод пользователя</button>
  </form>
       {% endif %}
{%   endblock %}
