{% extends 'base.html' %}

{% block content %}

{% if passform %}
<form method="post" action="{{ url_for("checkpass") }}" id="passform">

        <button type="submit" name="submit_button" value="yes"> ДА</button>
        <button type="submit" name="submit_button" value="no"> НЕТ</button>
    </form>
{% else %}

    <form method="post" action="{{ url_for("checkpass") }}" id="passform">

        <button type="submit" name="submit_button" value="yes"> ДА</button>
        <button type="submit" name="submit_button" value="no"> НЕТ</button>
    </form>
{% endif %}
    {% for message in messages %}
        <p style="background-color: #fc4040; width: 300px"> {{ message }}</p>
    {% endfor %}



{% endblock %}